h2{
    color: #f6408f;
    
    
}
body{
    background-image: url(12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
.header-container{
    margin: 0px;
   padding: 10px;
    background-color: rgb(228, 80, 127);
    text-align: left;
    color: rgb(245, 234, 238);
}
.contactinfo{
    
    width: 100%;

    color: #03171c;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border-style: inset;
    border-color: darkblue;
    border-radius: 15px;
    border padding-bottom: 0px;
    
   
}
.contactform{
    border-style: groove;
    border-color: rgb(3, 3, 33);
    width: 100%;

}

.img-container{
    width: 100;
    position: fixed;
    opacity: 0.4;

}
a{
    color: white;
    font-size: 25px;
}
a:hover{
    color:rgb(36, 8, 75) ;
}
