@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto+Mono:wght@500&display=swap');

body{
    background-color: rgb(251, 250, 247);
    margin: 0px;
    padding: 0px;
    
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 125vh;
    background: url("13.png");
    background-size:100, 100;
    background-position:fixed;
    background-repeat: no-repeat;
    background-size: contain;
   
}

.nav1{
    font-size:95pxpx;
    justify-content: center;
    margin: 10px;
    padding-top:5px, 10px;
    align-items:center;
    font-size: x-large;
    color: rgb(253, 40, 161);  
    float: right;
    
    
}
.nav1 ul{
    display: flex ;
    color:white;
}

.nav1 ul li{
    display: flex ;
    color:white;

}

.nav1 ul li a{
    color: darkorange;
    text-align: center;
    align-items: center;
    margin: 10px;
}
ul li a{
 color: darkorange;
 text-align: center;
 align-items: center;
 margin: 10px;
}

.img{
    margin: 30px;
    padding: 40px;
   
}

span{
    font-size: 55px;
    color: darkblue;
    border-style: inset;
    border-radius: 20px;
    
}

.menu{
    text-decoration: none;
    padding: 30px, 20px;
    font-size: 25px;
    margin: 10px;   
}
.main{
    margin: 10px;    
}
.main a{
    padding: 0px 10px;
    color: rgb(54, 6, 72);
}


a:hover{
    color: rgb(8, 6, 7);
    background-color:rgba(221, 239, 142, 0.786);
}

#para1{

    font-size: 60px;
    margin: 50px;
    color: #d476a5;
    font-size: 50px;
    align-items: center;
    font-family: 'dancing script',sans-serif;
    text-align: center;
    padding-left: 40px;
    
} 

h1{
    color: rgb(58, 15, 47);
    font-size: 35px;
    padding-left: 550px;
    text-decoration:none;
    margin: 30pt;
}

h3{
    font-size: 40px;
    padding-left: 900px;
    margin: 20px;
    /*color:#e5f852*/
    color: rgb(88, 91, 91);
    
}



 
  