/*services*/


h2{
    margin:30px;
    padding: 10px,10px,10px,10px;
    color: rgb(232, 229, 134);
    font-size: 55px;
    background-color: rgb(49, 14, 29);
    
    
}
.grid{
    padding: 50px;
    margin-inline: 50px;
    
}
h6{
    font-size: 30px;
    color-scheme: rgb;
    padding: 10px;
    border-style: outset;
    border-color:saddlebrown;

}
body{
    background-image: url(7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}